<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HidetitleBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".practiceb.PracticebActivity" />
        <activity android:name=".practiced.PracticdActivity" />
        <activity android:name=".practicee.PracticeeActivity" />
        <activity android:name=".practicea.PracticeaActivity" />
        <activity android:name=".practicec.ToggleBackgroundActivity" />
        <activity android:name=".practicef.OrientationActivity"></activity> <!-- <activity android:name=".ImageViewActivity"></activity> -->
        <!-- <activity android:name=".ToggleButtonActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".PrograsBarActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".practicespinner.SpinnerActivity" /> -->
        <!-- <activity android:name=".FrameLayoutActivity" /> -->
        <!-- <activity android:name=".TablelayoutActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".EditextActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>